html, body {
    background-color: #222;
    color: #ccc;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: grid;
    gap: 1rem;
    grid-auto-rows: min-content;
    padding: 1.0rem;
}

h1 {
    background-color: #2a2a2a;
    padding: 0 0.25rem;
    margin: 0;
    width: min-content;
    white-space: nowrap;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

input {
    margin: 0;
    border: 0;
    border-radius: 2px;
    padding-left: 0.25rem;
    background-color: #202020;
    color: inherit;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #888;
}


/*************/
/* container */
/*************/
#container {
    display: grid;
    gap: 1rem;

    background-color: #2a2a2a;

    padding: 0.25rem;
    margin: 0;

    width: calc(100vw - 0.5rem - 2.0rem);
}

#options {
    display: flex;
    align-items: center;

    background-color: #2a2a2a;
    padding: 0.25rem;
    margin: 0;
}


/* --[ classes ]------------------------------------------------------------- */
.server-header {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem;

    white-space: nowrap;

    padding: 0.5rem 0 0.65rem 0;
    margin: 0 0 0.30rem 0;
    border-bottom: 1px solid #888;
}

.server-players {
    display: grid;
    grid-template-columns: min-content min-content auto;
    gap: 0;
    white-space: nowrap;
}

.players-header {
    display: contents;
    font-weight: bold;
}

.player-row {
    display: contents;
}

.player-row-alternate > * {
    background-color: #272727;
}

.player-row:hover > * {
    background-color: #333;
}

.player-schedule {
    display: none;
    grid-column: 1 / 4;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.player-data {
    padding: 0.25rem 0 0.25rem 0;
    padding-right: 2.0rem;
}




.dot {
    height: 0.6rem;
    width: 0.6rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #222;
}

.offline {
    background-color: red;
}

.online {
    background-color: lime;
}
